<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="cmp" converterClass="icu.samnyan.aqua.spring.LoggerComponent"/>
    <conversionRule conversionWord="cls" converterClass="icu.samnyan.aqua.spring.LoggerClassColor"/>
    <conversionRule conversionWord="correlationId" converterClass="org.springframework.boot.logging.logback.CorrelationIdConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- Define the log file name and path -->
    <property name="LOG_FILE" value="logs/AquaDX.log"/>

    <!-- Console appender with custom pattern -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%date{MM-dd HH:mm:ss}){magenta} %clr(${LOG_LEVEL_PATTERN:-%-5p}) %cmp | %cls(%-40.40logger{39}) : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</pattern>
        </encoder>
    </appender>

    <!-- File appender with JSON layout -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>https://loki.c5y.moe/loki/api/v1/push</url>
            <auth>
                <username>user</username>
                <password>${LOKI_PASS}</password>
            </auth>
        </http>
        <format>
            <label>
                <!-- Labels -->
                <pattern>
                    service_name = AquaDX,
                    project = Minato,
                    level = %level,
                    thread = %thread,
                    class = %logger,
                    traceId = %mdc{traceId:-none}
                </pattern>
            </label>
            <message class="com.github.loki4j.logback.JsonLayout">
                <timestamp>
                    <enabled>false</enabled>
                </timestamp>
            </message>
        </format>
        <batchTimeoutMs>5000</batchTimeoutMs>
        <batchMaxItems>100</batchMaxItems>
    </appender>

    <!-- Log levels -->
    <logger name="org.springframework" level="INFO"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
